.home-box {
    display: flex;
    border: 2px solid black;

    width: 80%; 
    margin: 3vh;

    position: relative;
}

.clickable {
    cursor: pointer;
}

.stats {
    flex: 1;
}

.info {
    flex: 7;
}

.add-task-or-reminder {
    flex: 2;
}

.chatbox-section {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5cqh;

    border: 1px solid black
}

.chatbox-section.split{
    flex-grow: 1;
    flex-basis: 0;
    transition: flex-grow 0.3s ease;
    min-width: 0;
}

.chatbox-section.expanded {
    flex: 1;

    border: none;
}

.chatbox-section.hidden {
    flex: 0;
    width: 0;
    overflow: hidden;
}

.chatbox-section .section-label {
    transition: opacity 0.2s ease;
}

.chatbox-section.expanded .section-label {
    opacity: 0;
}

.back-button {
    position: absolute;
    width: 8vh;
    height: 20%;
    
    font-size: 1.5cqw;

    border-radius: 10%;
    background-color: white;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.back-button.visible {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

#back-task {
    top: 40%;
    right: 1vh;
}

#back-reminder {
    top: 40%;
    left: 1vh;
}

#add-task {
    background-color: #F6DADA;
}

#add-reminder {
    background-color: #DCE8F6;
}

#add-task-or-reminder-back {
    display: none;
}

.add-item-field {
    display: none;
    opacity: 0;
}

.add-item-field.visible {
    display: block;
    position: absolute;
    bottom: 1vw;

    width: 80%;

    opacity: 1;
    border: 0;

    font-family: "Nunito Sans", sans-serif;
    font-size: 1.7cqw;
}

.add-item-field.visible#new-task {
    left: 1vw;
    background-color: #F6DADA;
}

.add-item-field.visible#new-reminder {
    right: 1vw;
    background-color: #DCE8F6;
}