.profile-box {
    height: 5vw;
    padding: 2vh 3vw;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;

    margin-bottom: 5vw;
}

.profile-box img {
    height: 80%;
    width: auto;
    margin-right: 5vw;
    border-radius: 50%;
}

.profile-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#user-profile-name {
    font-size: 3.5cqh;
}

#user-profile-email {
    font-size: 2cqh;
}